.horizontalList {
	margin-top: 20px;
	margin-bottom: -20px;
	/* display: inline-block; */
}

.fileItem {
	margin-right: 50px;
	margin-bottom: 50px;
	display: inline-block;
}

.fileDelete:hover {
	opacity: 1;
}
